.u-section-1 .u-sheet-1 {
  min-height: 355px;
}

.u-section-1 .u-image-1 {
  width: 307px;
  height: 274px;
  margin: 49px auto 0 0;
}

.u-section-1 .u-shape-1 {
  height: 304px;
  margin-top: -274px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 731px;
  margin: -310px 80px 49px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 24px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 2px 115px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 7px 13px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-2 {
  padding: 1px 20px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 28px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px auto 0;
  padding: 10px 92px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 389px;
  }

  .u-section-1 .u-shape-1 {
    height: 276px;
    margin-top: -614px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 120px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: 151px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 445px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -670px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 345px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 44px 337px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 25px 0 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}

.advanced {
  background-color: #377f6f;
  padding : 5px 10px 5px 10px;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.intermediate {
  background-color: blue;
  padding : 5px 10px 5px 10px;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.beginner {
  background-color: #d59c11;
  padding : 5px 10px 5px 10px;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.laggard {
  background-color: #e93335;
  padding : 5px 10px 5px 10px;
  color: #FFF;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.page-title-box {
  padding-bottom: 4px;
}